.size {
  width: 55%;
}

button {
  background-color: green;
  float: right;
  margin-right: 50px;
}
mat-button-toggle{
top: 50px;
  padding-bottom: 20px;
}
.btn btn-primary{
  color: #05a55a;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  padding-right: 50px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
* {box-sizing: border-box}

/* Full-width input fields */



/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.removeb{
  padding: 14px 20px;
  background-color: #f44336;
}
